.rangeSlider .middle .multi-range-slider .slider {
  position: relative;
  z-index: 1;
  margin: 0 15px;
}

.rangeSlider .middle .multi-range-slider .slider .track {
  background-color: #ebebeb;
}

.rangeSlider .middle .multi-range-slider .slider > .range {
  background-color: #ff0025;
}

.rangeSlider .middle .multi-range-slider .slider > .thumb {
  background-color: #ccc;
}

.rangeSlider .middle .multi-range-slider .range2 {
  pointer-events: none;
  z-index: 2;
}

.rangeSlider .middle .multi-range-slider .range2::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  cursor: pointer;
  -webkit-appearance: none;
}

.rangeSlider .middle #multi_range span {
  color: #ff0025;
  font-size: 14px;
  font-family: 'Vazir-FD';
  position: absolute;
}
.rangeSlider .middle #multi_range span:last-child {
  color: black;
}
